# frozen_string_literal: true

module LeetCode
  # <%= problem %>. TODO
  module LC<%= problem %>
    # Description:
    # TODO
    #
    # Examples:
    # TODO
    #
    # @param {TODO} v
    # @return {TODO}
    def todo(v)
      v
    end
  end
end
